<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Document</title>
</head>
<body>
<header>
    <h1 class="logo">Blog Website project</h1>
    <nav>
        <ul class="menu">
            <li><a href="#">Find Author</a></li>
            <li><a href="#">Find Article</a></li>
            <li><a href="#">Add Article</a></li>
            <li><a href="#">My Articles</a></li>
            <li><a href="#">Login/Logout</a></li>
            <li><a href="#">Register</a></li>
        </ul>
    </nav>
</header>

<main>
    <article id="article">
        <div th:text="${article.title}" id="article_title">Article Title</div>
        <div th:text="${article.author}" id="article_author">Article Author</div>
        <div th:text="${article.content}" id="article_content">Article Content</div>
    </article>
</main>

<footer>

</footer>
</body>
</html>